a {
    cursor: pointer;
    text-decoration: none;
}

.main {
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    flex-flow: column;
}

.top {
    width: 100vw;
    margin: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

body {
    margin: 0;
}

div.particle {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -100;
    background-color: white;
}

div.particle p {
    position: absolute;
    color: black;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 600;
}

h1.title {
    display: flex;
    color: black;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 600;
    font-size: 4vmin;
    margin: 0;
}

h1.title span {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    height: 5vmin;
    width: 5vmin;
    border: 0.5vmin solid #754C24;
    margin: 0.25vmin;
    border-radius: 1vmin;
}

p.description {
    color: black;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    font-size: 2vmin;
    margin: 0;
}

section {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    width: 100%;

    min-height: 100vh;
    width: 100vw;
    margin: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    flex-flow: column;
}

section:not(.hidden) {
    opacity: 1;
    visibility: visible;
    position: static;
}

ul {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
    list-style: none;
}

ul.section-menu {
    margin-top: 5vmin;
    border-left: 1vmin solid;
    border-right: 1vmin solid;
    border-radius: 0.5vmin;
    border-color: #79b02b;
    background-color: #ebe6ca;
}

.section-menu li {
    list-style: none;
    margin: 2vmin 0;
}

.section-menu a {
    display: block;
    color: black;
    padding: 1vmin;
    width: 30vmin;
    text-align: center;
    font-size: 2vmin;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}

.section-menu a:hover {
    font-weight: 600;
}

ul.list,
ul.question-list {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    border-left: 1vmin solid;
    border-right: 1vmin solid;
    border-radius: 0.5vmin;
    border-color: #79b02b;
    background-color: #ebe6ca;
    padding: 5vmin;
}

ul.list {
    width: 90vmin;
}

ul.question-list {
    margin-top: 10vmin;
    width: 40vmin;
    height: 40vmin;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.list a,
.question-list a {
    display: block !important;
    text-align: center;
    color: black;
    /* border: 0.2vmin solid;
    border-color: #79b02b;
    background-color: #ebe6ca;
    border-radius: 0.5vmin; */
    width: 10vmin;
    height: 10vmin;
    line-height: 10vmin;
    text-align: center;
    font-size: 5vmin;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    margin: 1vmin;
    transition: all ease-in-out 0.2s;
    cursor: pointer;
}

.list a:hover,
.question-list a:hover {
    transform: scale(1.1);
}

p.version {
    height: 2vmin;
    color: black;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 200;
    font-size: 2vmin;
    margin: 2vmin;
}

div.header {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
}

div.menuButton {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    user-select: none;
    height: 10vmin;
    width: 97vw;
    margin: 7.5vmin 1.5vmin;
}

div.menuButton span {
    font-size: 5vmin !important;
    cursor: pointer;
}

div.popup {
    position: fixed;
    background-color: #00000040;
    display: -webkit-flex;
    display: none;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

div.popup-wrap {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    flex-flow: column;
    background-color: white;
    height: 30vmin;
    width: 50vmin;
    border-radius: 1vmin;
}

div.popup-wrap h1 {
    color: black;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 600;
    font-size: 3vmin;
    margin: 0;
}

div.popup a {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    border: 0.2vmin solid;
    border-radius: 1vmin;
    border-color: #79b02b;
    background-color: #ebe6ca;
    height: 2vmin;
    width: 20vmin;
    font-size: 2vmin;
    margin: 2vmin;
    font-family: 'Roboto', sans-serif;
    padding: 1vmin;
}

#list h1 {
    display: inline-block !important;
}

div.list-title {
    display: flex;
}

#list div.list-title {
    height: 10vmin;
    width: 90vmin;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    margin-top: 20vmin;
    margin-bottom: 10vmin;
}

#kanjiDescription div.list-title {
    height: 10vmin;
    width: 90vmin;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    margin-bottom: 10vmin;
}

div.line {
    width: 90vmin;
    border: 0.1vmin solid #79b02b;
    border-radius: 100vmin;
    margin: 2vmin 0;
}

#kanjiDescription p {
    color: black;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    font-size: 2vmin;
    margin: 0;
    text-align: left;
}

div.descriptionContainer {
    width: 40vmin;
    border-left: 1vmin solid;
    border-right: 1vmin solid;
    border-radius: 0.5vmin;
    border-color: #79b02b;
    background-color: #ebe6ca;
    padding: 5vmin;
}

div.descriptionContainer div {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin: 1vmin;
}

ul.status-list {
    width: 90vmin;
    height: 30vmin;
    border: 0.2vmin solid;
    background-color: #ebe6ca;
    border-color: #79b02b;
    border-radius: 0.5vmin;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    flex-flow: column;
}

p.status {
    color: black;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    font-size: 5vmin;
    margin: 0;
    text-align: center;
    margin-bottom: 5vmin;
}

#status .graph {
    height: 10vmin;
    width: 80vmin;
    background: linear-gradient(to right, #af263e 50%, #b0b0b0 50%);
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

.graph p {
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    font-size: 5vmin;
    margin: 0;
    text-align: center;
}

#status .list-title {
    margin-bottom: 10vmin;
}

#source p {
    margin-top: 10vmin !important;
    padding: 5vmin !important;
    border-left: 1vmin solid;
    border-right: 1vmin solid;
    border-radius: 0.5vmin;
    border-color: #79b02b;
    background-color: #ebe6ca;
}

.description a {
    color: black;
    text-decoration: underline !important;
}

.description a:hover {
    color: black;
    text-decoration: none !important;
}

.toggle {
    position: relative;
    width: 7.8vmin;
    height: 2.4vmin;
    margin: 4vmin 6vmin;
    border-radius: 5vmin;
    overflow: hidden;
    cursor: pointer;
}

.toggle input[type=checkbox] {
    display: none;
}

.toggle:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: gray;
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
}

.toggle:after {
    content: "";
    position: absolute;
    top: 0.1vmin;
    left: 0.1vmin;
    width: 2.2vmin;
    height: 2.2vmin;
    display: block;
    border-radius: 5vmin;
    background: #fff;
    box-shadow: 0 0.9vmin 2.8vmin -0.6vmin rgba(0, 0, 0, 0.3);
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
}

.toggle.checked:before {
    background: #79b02b;
}

.toggle.checked:after {
    left: 5.5vmin;
    box-shadow: 0 0.9vmin 2.8vmin -0.6vmin rgba(0, 0, 0, 0.5);
}

#setting ul {
    margin-top: 10vmin;
    padding: 10vmin;
    border-left: 1vmin solid;
    border-right: 1vmin solid;
    border-radius: 0.5vmin;
    border-color: #79b02b;
    background-color: #ebe6ca;
}

#setting li {
    height: 10vmin;
    width: 50vmin;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}